.card {
    border-bottom: rgb(45, 45, 45) solid;
    padding: 15px;
    text-align: left;
    transition: background ease-in-out 0.2s;
}

.card:hover {
    cursor: pointer;
    background: rgba(45, 45, 45, 0.2);
}

.card > * > * {
    margin: 10px;
}

.card > div {
    display: flex;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

.card img {
    height: 18px;
}

.card .postStats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.postStats > div {
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all ease-in-out 0.2s;
}

.postStats span {
    font-size: 13px;
    color: rgb(145, 145, 145);
    margin: 0px 5px;
}

.card div span {
    font-weight: normal;
    font-size: 15px;
    margin: 0px 5px;
    color: rgb(75, 75, 75);
}

.postStats > * > div {
    transition: all ease-in-out 0.2s;
}

.postStats > * > div:hover {
    transform: scale(1.2);
}

.card a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.card p {
    font-weight: normal;
}

.card .username:hover {
    text-decoration: underline;
}