.header {
    display: flex;
    flex-direction: row;
    margin: 0px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: rgba(25, 25, 25, 0.8);
    border-bottom: 2px rgb(45, 45, 45) solid;
}

.header .title {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 20px;
    justify-content: center;
    align-items: center;
}

.header .title img {
    margin: 0px 10px;
    height: 40px;
}

.header .headerBtns {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
}

.headerBtns button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
}

@media only screen and (max-width: 1080px) {
    .titleText {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-50px);
        transition: all ease-in-out 0.2s
    }
}